html {
  background-color: #EDF1D6;
  background-image: -webkit-linear-gradient(65deg, #609966 50%, #EDF1D6 50%);
  min-height: 1000px;
  font-family: "Segoe UI", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;}

h1 {
  color: #fff;
  padding: 10px;
}

body{
  text-align: center;
}
.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #609966;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #609966;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

.plus {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #609966;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}


.ref {
  background-color: #EDF1D6 ;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #609966;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 10px 20px;  
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  
}

.ref:hover {
  box-shadow: #40513B 0 1px 30px;
  transition-duration: .1s;
}
/* 
@media (min-width: 768px) {
  .button-36 {
  padding: 0 2.6rem;
    }
} */


input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #609966;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
